<mat-card>
  <mat-card-header class="header">
    <mat-card-title> Barometer (inomhus): </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <hr />
    <!-- https://stackoverflow.com/questions/70202753/angular-ngx-chart-not-fitting-to-parent-container-correctly-onload -->
    <!-- [view]="view" -->
    <ngx-charts-line-chart
      [results]="multi"
      [scheme]="colorScheme"
      [view]="view"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-line-chart>
  </mat-card-content>
  <mat-card-footer class="footer"> </mat-card-footer>
</mat-card>
