table {
  width: 100%;
}
// .services-list {
//   margin-top: 10em;
// }
.service-edit {
  margin: auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 400px;
  min-height: 150px;
  margin-top: 6em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px;
}
.service-delete {
  margin: auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 400px;
  min-height: 150px;
  margin-top: 6em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px;
}
.service-add {
  margin: auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 400px;
  min-height: 150px;
  margin-top: 6em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px;
}
