.mat-card-extra{
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100.5cap;

}
mat-card{
  background-color: #ffffff;
  border-radius: 10px;
  border-color: blue;
  border-width: 3px;
  box-shadow: 5px 5px 5px #888888;
}
mat-card-header {
    text-align: center;
    justify-content: center
  }
  
  mat-card-title {
    text-align: center;
    justify-content: center;
    font-family: "Space Mono", "Courier New", monaco, monospace;
    font-weight: bold;
  }
  mat-card-subtitle{
    margin-top: 12px;
    text-align: center;
    justify-content: center
  }
.innertext{
  // margin-left: 120px;
  // margin-right: 120px;  
  // margin-top: 50px;  
  text-align: left;
  justify-content: left;
}
