.mat-card-outer {
  background-color: #ffffff;
  // margin: 4px;
  // padding: 4px;
  border-radius: 10px;
  border-color: blue;
  border-width: 3px;
  box-shadow: 5px 5px 5px #888888;
}

.mat-card-inner {
  width: 400px;
  max-width: 400px;
  height: 140px;
  max-height: 140px;
  background-color: #ffffff;
  margin: 4px;
  border-radius: 10px;
  border-color: blue;
  border-width: 3px;
  box-shadow: 5px 5px 5px #888888;
}

.mat-card-content-inner{
  flex-grow: 1;
	overflow: auto;
}

mat-card-footer {
  padding: 4px;
  text-align: center;
  justify-content: center
}

//Scrolling Banner
.scroll-parent {
  overflow: hidden;
  position: relative;
  width: 97vw;
  height: 9rem;
  overflow-x: hidden;
}

.scroll-element {
  display: flex;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 60s linear infinite;
}

//Animation
.primary {
  animation: primary 60s linear infinite;
}

.secondary {
  animation: secondary 60s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}




/* Photo Banner */
// .container {
//   width: 100%;
//   overflow: hidden;
//   margin: 10px auto;
//   background: white;
// }

// .photobanner {
//   display: flex;
//   height: 300px;
//   // width: 3550px;
//   width: 7000px;
//   margin-bottom: 5px;
//   font-size: 0;
// }

// // .photobanner mat-card {
// // 	margin-bottom: 10px;
// // 	margin-right: 5px;
// // 	height: 300px;
// // 	width: 500px;
// // }

// // .photobanner mat-card  {
// //     -webkit-transition: all 0.5s ease;
// //     -moz-transition: all 0.5s ease;
// //     -o-transition: all 0.5s ease;
// //     -ms-transition: all 0.5s ease;
// //     transition: all 0.5s ease;
// // }


// /*keyframe animations*/
// .card {
//   -webkit-animation: bannermoves 30s linear infinite;
//   -moz-animation: bannermoves 30s linear infinite;
//   -ms-animation: bannermoves 30s linear infinite;
//   -o-animation: bannermoves 30s linear infinite;
//   animation: bannermoves 30s linear infinite;
// }

// @keyframes bannermoves {
//   0% {
//     margin-left: -2130px;
//   }

//   //  0% {margin-left: -500px;}
//   100% {
//     margin-left: 0px;
//   }
// }

// @-moz-keyframes bannermoves {

//   //  0% {margin-left: -2130px;}
//   0% {
//     margin-left: -500px;
//   }

//   100% {
//     margin-left: 0px;
//   }
// }

// @-webkit-keyframes bannermoves {

//   //  0% {margin-left: -2130px;}
//   0% {
//     margin-left: -500px;
//   }

//   100% {
//     margin-left: 0px;
//   }
// }

// @-ms-keyframes bannermoves {

//   //  0% {margin-left: -2130px;}
//   0% {
//     margin-left: -500px;
//   }

//   100% {
//     margin-left: 0px;
//   }
// }

// @-o-keyframes bannermoves {

//   // 0% {margin-left: -2130px;}
//   0% {
//     margin-left: -500px;
//   }

//   100% {
//     margin-left: 0px;
//   }
// }